@model USRv2.Models.Label
@{
    ViewBag.Title = "LabelForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Id != 0 ? "Редактирование существующей метки параметра" : "Добавление новой метки параметра")</h2>



@using (Html.BeginForm("LabelSave", "Parameters"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name) 
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-warning">Сохранить</button>
    }

    @section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
